@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 10% 89%; /* Bege para o fundo */
    --foreground: 0 0% 20%; /* Preto suave para textos */
    --card: 0 0% 100%; /* Branco para cartões */
    --card-foreground: 0 0% 20%; /* Preto suave para textos em cartões */
    --popover: 0 0% 100%; /* Branco para popovers */
    --popover-foreground: 0 0% 20%; /* Preto suave para textos em popovers */
    --primary: 24 95% 53%; /* Laranja vibrante para botões principais e ações */
    --primary-foreground: 0 0% 98%; /* Branco para textos sobre o laranja */
    --secondary: 0 0% 96.1%; /* Cinza claro para elementos secundários */
    --secondary-foreground: 0 0% 20%; /* Preto suave para textos sobre cinza claro */
    --muted: 0 0% 96.1%; /* Cinza claro para textos e ícones menos enfáticos */
    --muted-foreground: 0 0% 45.1%; /* Cinza médio para textos mutados */
    --accent: 24 95% 53%; /* Laranja vibrante para elementos de destaque */
    --accent-foreground: 0 0% 98%; /* Branco para textos sobre o laranja */
    --destructive: 0 84.2% 60.2%; /* Vermelho para ações destrutivas */
    --destructive-foreground: 0 0% 98%; /* Branco para textos sobre vermelho */
    --border: 198 33% 94%; /* Cinza muito claro para bordas */
    --input: 198 33% 94%; /* Cinza muito claro para campos de entrada */
    --ring: 24 95% 53%; /* Laranja vibrante para anéis de foco */
    --chart-1: 12 76% 61%; /* Coral para gráficos */
    --chart-2: 173 58% 39%; /* Verde água para gráficos */
    --chart-3: 197 37% 24%; /* Azul petróleo para gráficos */
    --chart-4: 43 74% 66%; /* Amarelo claro para gráficos */
    --chart-5: 27 87% 67%; /* Laranja claro para gráficos */
    --radius: 0.5rem; /* Raio de borda para elementos */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
